* {
	box-sizing: border-box;
}

.contact-list {
	width: 250px;
	border: 2px solid black;
	padding: 10px;
}

.contact-item {
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
}

.delete-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	background: none;
	border: none;
	cursor: pointer;
}
