* {
	box-sizing: border-box;
}

.edit-list {
	width: 250px;
	border: 2px solid black;
	padding: 10px;
}

.input-container {
	display: flex;
	border: 2px solid black;
	margin-bottom: 10px;
	position: relative;
}

.input-container input {
	width: 100%;
	border: none;
	padding: 5px;
}

.clear-btn {
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}

.btns {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}